* {
    margin:0;
    padding:0;
}
/* header{
    background-color: grey;
} */
.contents{
    height: 95%;
    /* padding: 10px 30px 30px 30px; */
    display:flex;
    flex-wrap: wrap;
}
.error_msg{
    width: 100%;
    margin:0 1%;
    padding: 1%;
    height: 5%;
    background-color: rgb(241, 17, 55);
}
#input{
    min-width: 500px;
    width: 46%;
    margin: 1%;
    padding: 1%;
    background-color: lightblue;
}
#result{
    min-width: 500px;
    width: 46%;
    margin: 1%;
    padding: 1%;
    background-color: rgb(251, 221, 116)
}
h1{
    text-align: center;
    height: 5%;
}
h2{
    /* color: rgb(207, 40, 40); */

    padding: 10px;
}
h3{
    padding: 20px 0;
}

.indent{
    margin: 0 30px;
    margin-bottom: 30px;
}
/* #form-container{
    background-color: lightblue;
    padding: 0 10px 10px 10px;
} */
input{
    display: block;
    margin-bottom: 20px;
}
.line{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.line::before,
.line::after {
    background-color: grey;
    content:'';
    height: 1px;
    flex-grow: 1;
}
.line::before{
    margin-right: 1rem;
}
.line::after{
    margin-left: 1rem;
}
button {
    display:block;
}
#set-data{
    border: none;
    height: 35px;
    width: 100px;
    background-color: rgb(87, 153, 233);
    color: white;
    margin: 10px auto;
}
#set-data:hover{
    background-color:rgb(36, 112, 205)
}

#big_box{
    /* display: flex; */
    position:relative;
    margin: 20px auto;
    justify-content: center;
    align-items: center; 
    height: 300px;
    width: 300px;
}
.corner1{
    top: -60px;
    left: -200px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.corner2{
    top: -60px;
    right: -200px;
    display: flex;
    align-items: flex-end;
}
.corner3{
    bottom: -60px;
    left: -200px;
    display: flex;
    justify-content: end;
}
.corner4{
    bottom: -60px;
    right: -200px;
}
.coordinate{
    height: 60px;
    width: 200px;
    /* background-color: rgb(237, 237, 237); */
    position:absolute;
}

#small_box{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    height: 150px;
    width: 150px; 
}

.square{
    border: 1px solid rgb(165, 165, 165);
}
#formula{
    margin-top:10%;
}
#get-formula{
    border: none;
    height: 35px;
    width: 120px;
    background-color: rgb(87, 153, 233);
    color: white;
    margin: 10px auto;
}
#get-formula:hover{
    background-color:rgb(36, 112, 205);
}